@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ww-deep-blue: #413bf7;
  --color-ww-light-blue: #9ad8ff;
  --color-ww-orange: #ff550d;
  --color-ww-grey: #f6f6f8;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
